name: CI
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*.*.*"
  pull_request:
    branches:
      - "**"
jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.25"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Run tests
        run: |
          go test -v -race -coverprofile=coverage.txt -covermode=atomic -coverpkg=./... ./...
          go tool cover -html=coverage.txt -o coverage.html
      - if: ${{ matrix.go == '1.25' }}
        name: "Upload Coverage artifact"
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: coverage.html
          retention-days: 15

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: false
      - name: Run lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
          args: --timeout 5m

  govulncheck:
    name: Check vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
